form {
  position: relative;
  padding: 20px;
  input {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid;
    padding: 0 1.5em;
  }
  button {
    position: absolute;
    right: 30px;
    height: 3em;
    border-radius: 1.1em;
    border: 0px solid;
    background-color: white;
  }
  .inputMessageComponent{
    display: flex;
    align-items: center;
  }
}